section
  h2 installation
  pre
    code.
      npm i simple-look
  h3 stylus
  pre
    code.
      @import '~simple-look/register' // with webpack

      @import 'path_to/node_modules/simple-look/register' // manual path to node_modules
  h3 css
  a(href='http://codepen.io/RasCaDa/pen/QNrvVW' target='_blank') codepen example
  pre
    code.
      // cdn
      link(rel='stylesheet' href='https://npmcdn.com/simple-look/lib/simple-look.css')

      // npm
      link(rel='stylesheet' href='path_to/node_modules/simple-look/lib/simple-look.css')

  p with webpack
  pre
    code.
      require('simple-look/lib/simple-look.css')
section
  h2 behaviours
  h3 css classes

  h4 colors
  .wrapper
    button.sl-primary.raised .sl-primary
    button.sl-success.raised .sl-success
    button.sl-info.raised .sl-info
    button.sl-warning.raised .sl-warning
    button.sl-danger.raised .sl-danger

  h4 transition
  .wrapper
    button.sl-transition.raised .sl-transition
    
section
  h2 section
  h3 #{'<section> </section>'}
  .wrapper
    section
      h2 section
      p text text text text text text text
      h4 test
      p text text text text text text
      
section
  h2 header
  h3 #{'<header> </header>'}

  .wrapper
    header
      h1 header
      p sub-header
      
section
  h2 lists
  h3 #{'<ul> </ul>'} / #{'<ol> </ol>'}

  .wrapper
    p unordered list
    ul
      li list item
      li list item
      li.raised raised list item
      li.raised.hint #{'<li class="raised">'}
      li.raised raised list item
    
    p raised unordered list
    p.hint #{'<ul class="raised">'}
    ul.raised
      li list item
      li list item
      li list item
      
    p ordered list
    ol
      li list item
      li.raised raised list item
      li list item

    p raised ordered list
    p.hint #{'<ol class="raised">'}
    ol.raised
      li list item
      li list item
      li list item
    
section
  h2 button
  h3 #{'<button> </button>'}

  .wrapper
    button button
    button.raised raised-button
    button.sl-primary.raised primary button

section
  h2 article (card)
  h3 #{'<article> </article>'}
  .wrapper
    article.card
      h1 article
      input
      button.raised test
    
section
  h2 input
  h3 #{'<input />'}

  .wrapper
    input(placeholder='input')

section
  h2 select
  h3 #{'<select> </select>'}

  .wrapper
    select
      option wow
      opiton simple
      option select

section
  h2 textarea
  h3 #{'<textarea> </textarea>'}

  .wrapper
    textarea

section
  h2 a
  h3 #{'<a> </a>'}

  .wrapper
    a(href='https://github.com/simple-look/' target='_blank') simple-look
    button.raised
      a link in button

section
  h2 pre
  h3 #{'<pre> </pre>'}
  
  pre.
    pre test

section
  h2 progress
  h3 #{'<progress> </progress>'}

  .wrapper
    progress(value="50", max="100") 50%
